// -----------------------------------------------------------------------------
// UI
// -----------------------------------------------------------------------------
// Foundation values for common interface properties.
// Contains raw UI values without semantic meaning.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Radius
// -----------------------------------------------------------------------------

$radius: (
    xs: 0.1875rem,
    s: 0.375rem,
    m: 0.5rem,
    l: 0.75rem,
    xl: 1rem,
    full: 9999px,
);


// -----------------------------------------------------------------------------
// Shadows
// -----------------------------------------------------------------------------

$shadows: (
    xs: (
        0 1px 3px rgb(0 0 0 / 10%),
        0 1px 2px rgb(0 0 0 / 6%)
    ),
    s: (
        0 4px 6px -1px rgb(0 0 0 / 10%),
        0 2px 4px -1px rgb(0 0 0 / 6%)
    ),
    m: (
        0 10px 15px -3px rgb(0 0 0 / 10%),
        0 4px 6px -2px rgb(0 0 0 / 5%)
    ),
    l: (
        0 20px 25px -5px rgb(0 0 0 / 10%),
        0 10px 10px -5px rgb(0 0 0 / 4%)
    ),
    xl: 0 25px 50px -12px rgb(0 0 0 / 25%),
);


// -----------------------------------------------------------------------------
// Blur
// -----------------------------------------------------------------------------

$blurs: (
    xs: 0.25rem,
    s: 0.5rem,
    m: 1rem,
    l: 1.5rem,
    xl: 2.5rem,
);


// -----------------------------------------------------------------------------
// Durations
// -----------------------------------------------------------------------------

$durations: (
    fast: 150ms,
    normal: 250ms,
    slow: 400ms,
);


// -----------------------------------------------------------------------------
// Easings
// -----------------------------------------------------------------------------

$easings: (
    linear: linear,
    ease-in: cubic-bezier(0.4, 0, 1, 1),
    ease-out: cubic-bezier(0, 0, 0.2, 1),
    ease-in-out: cubic-bezier(0.4, 0, 0.2, 1),
);

// -----------------------------------------------------------------------------
// Layers
// -----------------------------------------------------------------------------

$layers: (
    below: -1,
    1: 10,
    2: 20,
    3: 30,
    4: 40,
    5: 50,
    top: 2147483647,
);
