@use "abstracts" as *;

@forward "base";
@forward "compositions";
@forward "utilities";
@forward "blocks";

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.region {
    padding-block: var(--region-space, 3.3vmax);
}

.text--center {
    text-align: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.55);
}

.box {
    padding: var(--space-m);
    background: var(--box-background, var(--neutral-0));
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-s);
}

.colorize_image {
    filter: contrast(1) sepia(1) hue-rotate(160deg) grayscale(0.8) !important;
}

.featuredimage {
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: var(--radius-l);
}

.post .featuredimage {
    margin-block: var(--space-s-l) var(--space-l);
}

section.title .wrapper,
section.title .wrapper--small,
section.title .wrapper--wide,
section.posts .wrapper--small,
section.posts .wrapper--wide,
section.post .wrapper--small {
    text-align: center;

    h1 {
        margin-block-start: var(--space-2xs);
    }
}

article.post .wrapper.title {
    margin-block-start: var(--space-s-l);
    h1 {
        margin-block: var(--space-m);
    }
}

.filter {
    margin-block: var(--space-s);
    max-width: max-content;
    border-radius: var(--radius-xs);

    summary {
        font-size: var(--fs-step--1);
        &::marker {
            display: none;
        }
    }

    &__options {
        background: var(--neutral-0);
        border-radius: var(--radius-xs);

        label {
            display: flex;
            align-items: center;
            gap: var(--space-2xs);
            padding: var(--space-xs);
            cursor: pointer;
        }
    }
}

.meta {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;

    &__date,
    &__tags {
        font-size: var(--fs-step--1);
        display: flex;
        align-items: center;
        gap: var(--space-2xs);

        img {
            width: 1rem;
        }
    }
}

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.brand {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    color: var(--primary-950);
    font-weight: var(--fw-bold);
    text-decoration: none;

    img {
        height: 5ex;
    }
}

//
//
//

section.title {
    text-align: center;

    &.bgimage {
        --region-space: 15vmax;
        color: var(--primary-50);
        position: relative;

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba(0, 0, 0, 0.45);
        }

        .wrapper {
            position: relative;
            z-index: 2;
            color: var(--neutral-0);
        }
    }
}

//
//
//

.cta .box {
    padding: var(--space-m);
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-xs);

    .button {
        margin-block-start: var(--space-m);
    }
}

// -----------------------------------------------------------------------------
// Block_faq
// -----------------------------------------------------------------------------

.faqs {
    details {
        display: flex;
        flex-direction: column;
        gap: 1px;

        summary {
            font-size: var(--fs-step-0);
            font-weight: var(--fw-bold);
            padding: var(--space-s);
            color: var(--primary-900);
            background: var(--neutral-0);
            border-radius: var(--radius-xs);
            cursor: pointer;
        }

        & > div {
            padding: var(--space-m);

            *:first-child {
                margin-block-start: 0;
            }
        }
    }
}

//
//
//

.text-image {
    .switcher {
        align-items: center;
    }

    img {
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: var(--radius-l);
    }

    .text div ul {
        list-style-type: none !important;

        li:before {
            color: inherit;
            content: "✓";
            display: inline-block;
            margin-inline-start: -36px;
            width: 36px;
        }
    }
}

//
//
//

.features {
    li {
        text-align: center;
        padding: var(--space-2xs);
        border: 1px solid var(--primary-100);
        border-radius: var(--radius-m);
        background: var(--primary-0);
        box-shadow: var(--shadow-xs);

        h3 {
            font-size: var(--fs-step-2);
        }
    }
}

//
//
//

ul.buttons.social {
    .button {
        background: var(--accent-500);
    }

    .button.icon {
        padding: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        width: 2.25rem;

        img {
            width: calc(100% - 1em);
            height: calc(100% - 1em);
            filter: invert(1);
        }
    }
}

//
//
//

.about {
    text-align: center;
}

section.about .wrapper p img {
    border-radius: var(--radius-full);
    overflow: hidden;
    aspect-ratio: 1;
    max-width: 20rem;
    object-fit: cover;
    justify-self: center;
    margin-block: var(--space-s-l);
    display: block;
}

.profiles__item {
    --flow-space: 1rem;
    overflow: clip;
    border-radius: var(--radius-l);
    background: var(--neutral-0);
    padding-block-end: var(--space-xs);
    box-shadow: var(--shadow-xs);

    & > *:not(.image) {
        padding-inline: var(--space-xs);
    }

    & > .image {
        margin-block-start: 0;
    }
}


///
///
///

.post__item {

    h3 {
        font-size: var(--fs-step-2);
        margin-block-start: var(--space-2xs);
        line-height: 1;

        a {
            text-decoration: none;
        }
    }



    .button {
        font-size: var(--fs-step--1);
    }
}

.posts__list {
    .post__item {
        box-shadow: var(--shadow-xs);
        border-radius: var(--radius-l);
        background: var(--neutral-0);
    }

    .content {
        padding-inline: var(--space-xs);
        padding-block-end: var(--space-m);
    }
}

///
///
///

.contact {

    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            padding-block-start: var(--space-xs);
            gap: var(--space-2xs);
        }
    }
}
