{{- $inner := .Inner -}}
{{- $sectionClass := .SectionClass | default "" -}}
{{- $wrapperClass := .WrapperClass | default "" -}}

{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty block found. Consider creating a 'content/block/small.md' file." -}}
    {{- with page.Site.GetPage "blocks/small.md" -}}
        {{- $inner = .RawContent -}}
    {{- end -}}
{{- end -}}

<section class="small {{ $sectionClass }}">
    <div class="wrapper wrapper--small {{ $wrapperClass }}">
        {{- markdownify $inner -}}
    </div>
</section>
