<!--
{{/*
    Usage:

    {{< block_wide region=true centered=true >}}

    ## Heading

    Lorem ipsum dolor sit amet consectetur adipisicing elit.

    {{< /block_wide >}}

*/}}
-->

{{- $region := .Get "region" | default false -}}
{{- $centered := .Get "centered" | default false -}}

{{- $sectionClass := cond $region "region" "" -}}
{{- $wrapperClass := cond $centered "text--center" "" -}}

{{- partial "block_wide.html" (dict "Inner" .Inner "SectionClass" $sectionClass "WrapperClass" $wrapperClass) -}}
