<!--
{{/*
    Usage:

    {{< block_features >}}

    ## Company features

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea praesentium esse modi alias magni maxime eos unde molestiae expedita a.

    ---

    ![](/img/icons/feature-icon.svg)
    ### Feature one

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum beatae quia distinctio eveniet animi inventore.

    ---

    ![](/img/icons/feature-icon.svg)
    ### Feature two

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum beatae quia distinctio eveniet animi inventore.

    ---

    ![](/img/icons/feature-icon.svg)
    ### Feature three

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum beatae quia distinctio eveniet animi inventore.

    {{< /block_features >}}

*/}}
-->

{{- partial "block_team.html" .Inner -}}
