// -----------------------------------------------------------------------------
// Switcher
// -----------------------------------------------------------------------------
// A layout that places 2 items next to each other until there is not enough
// horizontal space available.
// -----------------------------------------------------------------------------

.switcher {
    --_switcher-gap: var(--switcher-gap, var(--space-l-xl));
    --_switcher-vertical-alignment: var(
        --switcher-vertical-alignment,
        flex-start
    );
    --_switcher-target-container-width: var(
        --switcher-target-container-width,
        40rem
    );

    display: flex;
    flex-wrap: wrap;
    gap: var(--_switcher-gap);
    align-items: var(--_switcher-vertical-alignment);

    > * {
        flex-grow: 1;
        flex-basis: calc(
            (var(--_switcher-target-container-width) - 100%) * 999
        );
    }

    > :nth-child(n + 3) {
        flex-basis: 100%;
    }
}
