<footer class="[] [] [ region ]">
    <div class="wrapper">
        <div class="flex-group flex-group--between">
          <span>Copyright {{ now.Year }} door <strong>{{ .Site.Title }}</strong>. All rights reserved.</span>
          {{ partial "socialbuttons" . }}
        </div>
    </div>
</footer>

<!-- Scripts -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>
