<header class="site-header">
    <div class="site-header__inner wrapper">
        <a href="/" class="brand">
            {{ if site.Params.logo }}
            <img src="{{ site.Params.logo }}" alt="{{ site.Title }}">
            <span>{{ site.Title }}</span>
            {{ end }}
        </a>
        <button class="hamburger">
            <span class="bar bar--1"></span>
            <span class="bar bar--2"></span>
            <span class="bar bar--3"></span>
        </button>
        {{ partial "shared/menu.html" (dict "page" . "menuID" "main") }}
    </div>
</header>